<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Формы</title>
</head>
<body>
    <fieldset>
        <legend>Регистрация</legend>
        <label>ФИО<input type="text" required></label>
        <label>E-mail<input type="email" required></label>
        <label>Муж<input name="g" type="radio"></label>
        <label>Жен<input name="g" type="radio"></label>
        <button>Отправить</button>
    </fieldset>
</body>
</html>