<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О себе</title>
</head>
<body>
    <h1>Где учитесь: Alabuga Polytech</h1>
    <h2>Группа: 215-8.2</h2>
    <h3>Специальность: Веб-дизайн и программирование</h3>
    <h4>Кем хотите быть после выпуска: Полноценным разработчиком </h4>
    {% include "form.html" %}
</body>
</html>